@(sensorData: Form[SensorData],sensorsData : Seq[models.SensorData])(implicit request: RequestHeader)


    <div class="user-display" >
        <fieldset>
            <legend align="center"><h3>All data</h3></legend>
            <table cellspacing="20">
                <tr>
                    <th>id</th>
                    <th>value</th>

                </tr>
                @for(data <- sensorsData){
                    <tr>
                        <td>@data.id</td>
                        <td>@data.value</td>


                    </tr>
                }
            </table>
        </fieldset>
    </div>

