<!DOCTYPE html>
<meta charset="utf-8" />
<title>AirQS</title>

<link href="https://fonts.googleapis.com/
    css2?family=Montserrat:wght@500&family=Playfair+Display:wght@700&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="css/main.css">

<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />

<meta  name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
-->
<body>
<header class="header">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="img/air.svg" alt="logo" class="logo">
                </div>
                <div class="col-md-6">
                    <div class="menu">
                        <button class="btn btn-link">Home</button>
                        <button class="btn btn-link">Link</button>
                        <button class="btn btn-link">Dropdown</button>
                        <button class="btn btn-link">Disabled</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="search ml-auto">
                        <img src="img/search.svg" alt="search">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="offer-cont">
                        <h1 class="offer-cont__title">
                            Air Quality System<span class="offer-cont__dot">.</span>
                        </h1>
                        <p class="offer-cont__text">
                            Тут будет краткое описание сайта и зачем он нужен
                            lorem ipsum dolor sit amet
                        </p>
                        <button class="offer-cont__btn">
                            get started
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="maps">
    <div class="container">
        <div class="row">
            <div class="main-map container-fluid">
                <div id = "map"></div>
            </div>
        </div>
    </div>
</section>
    <section class = "info">
        <div class = "container container-fluid">
            <div class = "row">
                <div class="col-md-3 info-card">
                    <div class="card">
                       <div class="card-header">Current level of CO2</div>
                        <div class="card-body">
                            <div id = "output"></div>
                    </div>
                </div>
            </div>
<!--                <div class="col-md-6">-->
                <div class = "container-fluid" style="position: relative; width: 800px; height: 600px;">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
<!--        <div class = "container-fluid">-->
<!--            <div id="graph"></div>-->
<!--        </div>-->



    </section>
    <footer class = "footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-md-right">
                        <img class="logo" src="img/air.svg" alt="logo">
                        <p class="txt-air">Air Quality System</p>
                        <p class="txt-footer">All rights reserved 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="index.js"></script>
    <script src="plot.js"></script>
    <script src="mapbox.js"></script>
    <script src="token.js"></script>
    <!-- <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoibWVkaWsyNTEiLCJhIjoiY2pibTF1aTFiMzdwZDJxcXlqYTlncTV4diJ9.UkgwrgNPxdnl4FFVY1BGtw';
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                center: [-74.5, 40], // starting position [lng, lat]
                zoom: 9 // starting zoom
            });
    </script> -->

</body>

