@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
<!DOCTYPE html>
<meta charset="utf-8" />
<title>WebSocket Test</title>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script language="javascript" type="text/javascript">

        var wsUri = "ws://" +window.location.hostname+ ":9000/client";
        var output;

        function init()
        {
            var time = new Date();

            var data = [{
                x: [time],
                y: [0],
                mode: 'lines',
                line: {color: '#80CAF6'}
            }]

            Plotly.newPlot('graph', data);
            output = document.getElementById("output");
            testWebSocket();
        }

        function testWebSocket()
        {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function(evt) { onOpen(evt) };

            websocket.onmessage = function(evt) { onMessage(evt) };
            websocket.onclose = function(evt) { onClose(evt) };
            websocket.onerror = function(evt) { onError(evt) };
        }
        function doSend(message)
        {
            websocket.send(message);
        }
        function onOpen(evt)
        {
            writeToScreen("CONNECTED");

            doSend("WebSocket rocks");
            onMessage();
        }

        function onClose(evt)
        {
            writeToScreen("DISCONNECTED");
        }

        function onMessage(evt)
        {
            //TODO: make function that updates the plot

            var time = new Date();
            var update = {
                x:  [[time]],
                y: [[evt.data]]
            }
            Plotly.extendTraces('graph', update, [0])

            writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>');

        }

        function onError(evt)
        {
            writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
        }



        function writeToScreen(message)
        {
           // var pre = document.update();
            document.getElementById("output").innerHTML = message;

            //output.appendChild(pre);
        }

        window.addEventListener("load", init, false);

</script>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Air Quality System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main role = "main">
        <div class = "container-fluid" style="padding-top: 40px">
            <div class = "row">
            <div class="col-md-3">
                <div class="card border-dark" style="max-width: 13rem;">
                    <div class="card-header">Current level of CO2</div>
                    <div class="card-body text-dark">
                        <div id = "output">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div id="graph"></div>
    </main>



</body>